.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    font-size: 2rem;
    padding: 0.25rem;
    border: 3px solid black;
    border-radius: 5px;
  }
  button {
    background-color: rgba(121, 250, 239, 0.63);
    margin: 5px;
    border: 3px solid black;
    cursor: pointer;
    &:hover {
      background-color: rgba(121, 250, 239, 0.367);
    }

    &:active {
      background-color: rgba(121, 250, 239, 0.367);
      box-shadow: 0 3px #666;
      transform: translateY(2px);
    }
  }
}
